
.verification-item {
  position: relative;
  margin: 0 auto;
  margin-left: $spacer * 2;
  margin-right: $spacer * 2;
  margin-top: $spacer * 2;
  box-shadow: $box-shadow-standard;
  max-width: 350px;
  border: 1px solid $gray-200;
  overflow: hidden;

  .item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacer / 2 $spacer * 1.5 0 $spacer * 1.5;

    .filename {
      color: $text-muted;
    }
  }

  h3 {
    color: #727E8C;
    font-weight: 300;
    font-size: 15px;
  }

  .hash .content {
    font-size: $font-size-small;
    max-width: 150px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .verification-info, .advanced-info {
    font-weight: 500;
    padding-bottom: $spacer;
  }

  .item-body {
    padding: $spacer $spacer * 1.5;
    border-bottom: 1px solid $border-color;

    .status {
      font-weight: bold;
      font-size: 19px;
    }

    .description {
      color: $text-muted;
      font-size: 14px;
      &::before {
        border-top: 3px solid $body-color;
        padding-bottom: $spacer * .75;
        content: " ";
        display: block;
        width: 60px;
      }
    }
  }

  &.expanded {
    .item-footer {
      margin-top: -350px;
      height: calc(400px - 1rem);
      padding-top: $spacer;
      position: relative;
      background: white;
      box-shadow: 0 -10px 20px -10px rgba(0, 0, 0, .2);
    }
  }

  .item-footer {
    vertical-align: middle;
    padding: 0 $spacer * 1.5;
    height: 50px;
    display: flex;
    flex-direction: row;

    .footer-content {
      display: none;
    }

    .advanced-toggler {
      color: $primary;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .toggler {
        display: block;
        padding-right: 10px;
      }
      &:focus {
        outline: 0;
        border: none;
      }
    }
  }

  .advanced-info {
    overflow-wrap: break-word;
    h3 {
      color: $body-color;
    }
  }

  .icon {
    font-size: 36px;
    padding-right: $spacer;

    .icon-unverified {
      color: #2F90FF;
    }
    .icon-revoked {
      color: #ff4b43;
    }
  }

  h3 {
    margin-bottom: 0;
  }
}