// COLORS
$gray-100: #dadbdc;
$gray-200: #cacbcd;
$gray-300: #babcbd;
$gray-400: #aaacad;
$gray-500: #9a9b9c;
$gray-600: #8a8b8c;
$gray-700: #7a7b7c;
$gray-800: #6a6b6c;

$body-color: $gray-800;
$text-muted: $gray-500;
$border-color: $gray-100;

// FONTS
$body-font-family: 'Work Sans', Arial, sans-serif;
$headings-font-family: 'Work Sans', Arial, sans-serif;
$font-size-normal: 1rem;
$font-size-small: .9rem;

$font-size-h1: 1.25rem;
$font-size-h2: 1rem;

// SPACING
$spacer: 1rem;

// Shadows
$box-shadow-standard: 1px 0 15px rgba(0, 0, 0, .2) !default;

// Verification Items
$verification-box-border: 5px dashed $border-color;
$verification-box-title-color: $gray-700;
$verification-box-subtitle-color: $gray-700;